$transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);

.more-link {
    :global {
        display: inline-flex;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;

        .circle {
            .icon {
                transition: $transition;
                background: var(--color-background);
                position: relative;
            }
            .icon.arrow {
                transition: $transition;
                left: 0.417em;
                width: 1.125rem;
                height: 0.125rem;
                background: none;
            }
            .icon.arrow::before {
                position: absolute;
                content: '';
                top: -0.29rem;
                right: 0.0417rem;
                width: 0.417rem;
                height: 0.417rem;
                border-top: 0.125rem solid var(--color-background);
                border-right: 0.125rem solid var(--color-background);
                transform: rotate(45deg);
            }
        }
        .text {
            transition: $transition;
            padding: 0.75rem 0;
            color: var(--color-text);
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
        }
    }

    &:hover {
        :global {
            border-bottom: none;
            .circle {
                .icon.arrow {
                    transform: translate(1rem, 0);
                }
            }
            .text {
                color: var(--color-primary);
            }
        }
    }
}
