.algolia-search-box {
    padding-top: 1px;
}

@media (min-width: 720px) {
    .algolia-search-box {
        padding-left: 8px;
    }
}

@media (min-width: 751px) {
    .algolia-search-box {
        min-width: 176.3px; /* avoid layout shift */
    }

    .algolia-search-box .DocSearch-Button-Placeholder {
        padding-left: 8px;
        font-size: 0.9rem;
        font-weight: 500;
    }
}

.DocSearch {
    --docsearch-primary-color: var(--c-brand);
    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
    --docsearch-text-color: var(--c-text-light);
    --docsearch-muted-color: var(--c-text-lighter);
    --docsearch-searchbox-background: #f2f2f2;
}
